@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Public Sans', sans-serif; */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #262e35;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.chatBar-link {
  @apply cursor-pointer rounded-md fill-none stroke-slate-400 p-3 transition-colors ease-in-out hover:bg-slate-600 hover:stroke-white;
}

.active {
  @apply bg-primary-400 stroke-white;
}

.width-chats {
  width: calc(100% - 480px);
}

.optionsDropdown {
  @apply absolute right-2 top-[85px] flex w-36 flex-col rounded-sm bg-gray-800;
}

.form-control {
  @apply mb-6;
}

.form-error {
  @apply mt-4 text-sm text-red-700;
}

.chat-message {
  @apply flex flex-row items-start justify-start gap-4;
}

.chat-message .chat-info {
  @apply flex flex-col gap-2;
}

.chat-message .chat-content {
  @apply flex flex-col gap-2;
}

.chat-message .chat-text {
  @apply w-fit rounded-r-lg rounded-tl-lg bg-primary-400 px-5 py-3;
}

.owner {
  @apply flex-row-reverse;
}

.owner .chat-content {
  @apply items-end;
}

.owner .chat-text {
  @apply rounded-l-lg rounded-br-none rounded-tr-lg;
}
